body {
    background-color: #eeeeee;
  }
  h1, h3,h4{
    font-weight: 300;
  }
  .logo {
    width: 25%; 
    margin-left: -20px; 
    border-radius: 0 0 10px 0 ;
  }
#payForm {
    background-color: #ffffff;
    margin: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
}

  button {
    background-color: #1AD18E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
    border-radius: 4px;
    transition: ease;

  }
  button:hover {
    opacity: 0.8;
    border: 1px solid yellow;

  }



  
    #payButton:hover {
        background-color: #19C687;
        border-color: #19C687;
        box-shadow: 0 3px 4px #bbbbbb;
    }

    .formInner {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;
    }
    .form-amount {
      font-size: large;
    }
    .form-control {
        border: 1px solid #ffffff;
        box-shadow: 0 2px 1px #dddddd !important;
        font-family: 'Arial';
        width: 100%;
    }
    .form-control:hover {
        box-shadow: 0 2px 4px #dddddd;
    }

    .form-control:focus {
        box-shadow: 0 2px 4px #dddddd !important;
        border: 3px solid #1AD18E !important;
    }
    #ifrm1 {
        border: 2px;
        width: 1100px;
        height: 75px;
        word-wrap: break-all;
        overflow: visible;
        margin: auto;
        text-align: center;

    }

    #testCardTable {
      margin-left:auto;
      margin-right:auto;
    }

    .customPayButton {
      position: relative;
      
    }